<div class="p-8">
    <div class="card">
        <!-- Mensaje de exito -->
    <div *ngIf="successMessage()" class="flex items-center p-4 mb-3 text-green-800 bg-green-100 rounded-lg border border-green-300">
    <i class="pi pi-check-circle mr-2 text-green-600 text-xl"></i>
    <span class="text-sm font-medium">{{ succesMessage() }}</span>
</div>

<!-- Mensaje de Error -->
<div *ngIf="errorMessage()" class="flex items-center p-4 mb-3 text-red-800 bg-red-100 rounded-lg border border-red-300">
    <i class="pi pi-times-circle mr-2 text-red-600 text-xl"></i>
    <span class="text-sm font-medium">{{ errorsMessage() }}</span>
</div>

<h2 class="text-4xl font-bold mb-6 text-center">Albums</h2>
  <p-card 
  header=""
  >

  </p-card>
    </div>
</div>
